<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">Add Meal</div>
    <div class="panel-body">

      <form name="form" novalidate>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Date</label>
              <input name="username" ng-model="date" type="date" class="form-control" required>
            </div>
          </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Time</label>
                <input name="username" ng-model="time" type="time" class="form-control" required>
              </div>
            </div>
        </div>
        <div class="form-group">
          <label>Description</label>
          <input name="desc" ng-model="description" type="text" class="form-control" placeholder="Enter description" required>
        </div>
        <div class="form-group">
          <label>Calories</label>
          <input name="calories" ng-model="calories" type="number" class="form-control" placeholder="Enter calories" required>
        </div>
        <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="submit()">Add</button>
        <a class="btn btn-default" ui-sref="root.meals">Cancel</a>
      </form>

    </div>
  </div>
</div>
